.list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color:rgba(0, 0, 0, 0.6);
    flex-wrap: wrap;
    justify-content: space-between;
    position: page;
    color: beige;
    padding: 5px;
}
.food-name{
    font-size: large;
}

.food-price{
    font-size: small;
    font-style: italic;
    color: rgba(125, 26, 26, 1);
}

.left-content {
    padding-left: 15px;
}

.right-content {
    
    text-align: center;
}

.order-button {
    background-color: rgba(125, 26, 26, 0.6);
    border-radius: 10px;
    font-weight: bold;
}

.order-button:hover {
    background-color: rgba(125, 26, 26, 1);
}