.menu-background{
    width: 30%;
    margin: 10px;
    background-color:rgba(0, 0, 0, 0.4);
    color: beige;
    align-content: center;
    padding: 10px;
}

.menu-title{
    font-size: x-large;
    font-style: italic;
    color: beige;
    padding: 10px;
    text-align: center;

}