.App {
  height: 100vh;
  width: 100vw;
  background-image: url('../../src/assets/background.jpg');
  background-size: cover;
  background-position: center center;
  overflow:scroll;
}


.App-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(27,27,27,0.6);
    padding-top: 100px;
    overflow: scroll;
}
