.add-recipe-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 170px;
    height: 40px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(125, 26, 26, 0.9);
    border-radius: 15px;
}

.add-recipe-button:hover {
    background-color: rgba(125, 26, 26, 1);
}