

.restaurant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
}

.restaurant-item {
    width: 720px;
    background-color: rgb(226, 217, 217);
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.6);
    background-color: rgb(226, 217, 217);
    margin-bottom: 20px;
    align-items: center;
    border-radius: 8px;
}

.restaurant .card {
    width: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 8px;
    justify-content: space-between;
}

.content-container {
    width: 100%;
}

    .content-container img {
        max-width: none;
        width: 25%;
    }

.content-container {
    width: 100%;
    display: flex;
    column-gap: 60px;
    justify-content: flex-start;
}

.show-menu-button {
    background-color: transparent;
    font-size: 14px;
    color: rgb(125, 26, 26);
    font-weight: 600;
    color: rgb(0,0,0,0.8);
    letter-spacing: 0.5px;

}

    .show-menu-button:hover {
        font-weight: bold;
        color: rgb(0,0,0,1);
    }


.restaurant .name {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}

.restaurant .address {
    font-size: 19px;
    letter-spacing: 0.7px;
    color: rgba(0,0,0, 0.8);
    color: rgb(125, 26, 26);
    font-weight: 600;
    font-style: italic;
    padding-top:15px;
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 30px;
}

.upper-container {

}

.bottom-container {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

.bottom-container > div {
    display: flex;
    column-gap: 20px;
}